:root {
    --foreground-rgb: #313131;
    --background: #F4F4F4;
}



* {
    color: var(--foreground-rgb);
    background: var(--background);
}

.fondo{
    background-image: url('/background.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}