@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #F4F4F4;
    --background: #313031;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background)
}

.fondo{
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}