@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: #f4f4f4;
	--background: #313031;
	--Brand-Naranjo: #f05b29;
	--Brand-Gris: #313031;
	--Brand-Blanco: #f4f4f4;
	--Brand-Amarillo: #ffd54f;
	--Brand-Verde: #009688;
}

body {
	color: #f4f4f4;
	background: #313031;
}

.fondo {
	background-image: url('/background.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}
