@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: #f4f4f4;
	--background: #313031;
}

body {
	color: var(--foreground-rgb);
	background: var(--background);
}

.fondo {
	background-image: url('/background.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}
