:root {
	--foreground-rgb: #f4f4f4;
	--background: #313031;
	--Brand-Naranjo: #f05b29;
	--Brand-Gris: #313031;
	--Brand-Blanco: #f4f4f4;
	--Brand-Amarillo: #ffd54f;
	--Brand-Verde: #009688;
}

main {
	color: #313131;
	background: #f4f4f4;
}

body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.dashboard-container {
	background-color: rgba(49, 48, 49, 0.05);

	border-radius: 0.375rem /* 6px */;
	border-width: 1px;
	border-color: rgb(255 213 79 / 0.4);
}

.box-shadow {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Dashed border */
hr.dashed {
	border-top: 3px dashed #95ccff;
}

/* Dotted border */
hr.dotted {
	border-top: 3px dotted #95ccff;
}

/* Solid border */
hr.solid {
	border-top: 3px solid #95ccff;
}

/* Rounded border */
hr.rounded {
	border-top: 8px solid #95ccff;
	border-radius: 5px;
}

.no-drag {
	-webkit-user-drag: none; /* Para navegadores basados en WebKit (como Safari) */
	pointer-events: none; /* Opcional: Desactiva otros eventos del ratón */
}

.shadow-right {
	box-shadow: 6px 0 6px rgba(49, 48, 49, 0.3);
}

.shadow-bottom {
	z-index: 2;
	box-shadow: 0 6px 6px rgba(49, 48, 49, 0.3);
}

.fondo {
	background-image: url('/menu-background.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}
