:root {
	--Brand-Naranjo: #f05b29;
	--Brand-Gris: #313031;
	--Brand-Blanco: #f4f4f4;
	--Brand-Amarillo: #ffd54f;
	--Brand-Verde: #009688;
}

.dashboard-container {
	background-color: rgba(49, 48, 49, 0.05);
	border-radius: 0.375rem /* 6px */;
	border-width: 1px;
	border-color: rgb(255 213 79 / 0.4);
}

.box-shadow {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Dashed border */
hr.dashed {
	border-top: 3px dashed #95ccff;
}

/* Dotted border */
hr.dotted {
	border-top: 3px dotted #95ccff;
}

/* Solid border */
hr.solid {
	border-top: 3px solid #95ccff;
}

/* Solid border */
.border-l-solid {
	border-left: 2px solid #313031;
	padding-left: 0.3rem;
}
.border-r-solid {
	border-right: 2px solid #313031;
	padding-right: 0.3rem;
}

/* Rounded border */
hr.rounded {
	border-top: 8px solid #95ccff;
	border-radius: 5px;
}

.no-drag {
	-webkit-user-drag: none; /* Para navegadores basados en WebKit (como Safari) */
	pointer-events: none; /* Opcional: Desactiva otros eventos del ratón */
}

.shadow-right {
	box-shadow: 6px 0 6px rgba(49, 48, 49, 0.3);
}

.shadow-bottom {
	z-index: 2;
	box-shadow: 0 6px 6px rgba(49, 48, 49, 0.3);
}

.main-fondo {
	background-image: url('/MAIN-MENU-BG.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}

.scrollbar-modifier::-webkit-scrollbar {
	width: 8px; /* Ancho del scrollbar */
}

.scrollbar-modifier::-webkit-scrollbar-track {
	background: var(--Brand-Gris); /* Color de fondo del track */
}

.scrollbar-modifier::-webkit-scrollbar-thumb {
	background-color: #88888800; /* Color del "pulgar" (thumb) */
	border-radius: 10px; /* Redondear las esquinas */
	border: 1px solid #f1f1f1; /* Espacio alrededor del thumb */
}

.scrollbar-modifier::-webkit-scrollbar-thumb:hover {
	background: var(--Brand-Verde); /* Color cuando se pasa el ratón por encima */
}
